[program:{{ item.key }}]
command={{ item.value.command }}
directory={{ item.value.directory }}
autostart={{ item.value.autostart | default(true) }}
autorestart={{ item.value.autostart | default(true) }}
startretries={{ item.value.startretries | default(3) }}
stderr_logfile={{ item.value.stderrlogfile }}
stdout_logfile={{ item.value.stdoutlogfile }}
user={{ item.value.user | default(root) }}
environment={{ item.value.environment | default() }}
